<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" 
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:task="http://www.springframework.org/schema/task"  
       xmlns:tx="http://www.springframework.org/schema/tx" 
       xmlns:aop="http://www.springframework.org/schema/aop" 
       xmlns:util="http://www.springframework.org/schema/util"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		                       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		                       http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		                       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		                       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		                       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		                       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		                       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd"
						>
		

		<!-- 从OA同步用户数据定时器 -->
	<!-- <task:scheduled-tasks> -->
<!--         	 <task:scheduled ref="syncUserFromOATask" method="sync" cron="0 07 20 * * ?"/> -->
<!--         	<task:scheduled ref="syncDeparmentFromOATask" method="sync" cron="30 20 10 * * ?"/>   -->
        	 <!--<task:scheduled ref="syncSubcompanyFromOATask" method="sync" cron="0 16 10 * * ?"/>-->
        	   <!-- <task:scheduled ref="StatisticsTask" method="statisticsFollowRemind" cron="0/10 * * * * ?"/> -->
		<!-- </task:scheduled-tasks> -->
	 <task:annotation-driven scheduler="jobScheduler" mode="proxy"/>	
	 <task:scheduler id="jobScheduler" pool-size="10"/>
</beans>