<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:cache="http://www.springframework.org/schema/cache" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">


<!--  	<context:property-placeholder location="classpath:/redis.properties" /> -->
	<cache:annotation-driven cache-manager="cacheManager"/>
	
	<!-- <bean id="cacheManager" class="com.exmind.cache.CacheManager"
		c:template-ref="redisTemplate" p:expires-ref="expires"
		p:usePrefix="${redis.key.usePrefix}" /> -->
		<bean id="cacheManager" class="org.springframework.data.redis.cache.RedisCacheManager" p:usePrefix="true" p:defaultExpiration ="3600">
			<constructor-arg index="0" ref="redisTemplate"/>
		</bean>
	
 	<bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxIdle" value="${redis.maxIdle}" />
		<property name="maxTotal" value="${redis.maxTotal}" />
		<property name="maxWaitMillis" value="${redis.maxWait}"></property>
		<property name="testOnBorrow" value="${redis.testOnBorrow}" />
	</bean>
	
	<bean id="connectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
		p:host-name="${redis.host}" p:port="${redis.port}" p:password="${redis.pass}"  p:pool-config-ref="poolConfig">
		<property name="database" value="${redis.db.index}"/>
	</bean>
	
	<!-- redis key Serializer -->
	<bean id="stringRedisSerializer"
		class="org.springframework.data.redis.serializer.StringRedisSerializer"></bean>
		
	<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate"
		p:connection-factory-ref="connectionFactory" p:keySerializer-ref="stringRedisSerializer" />
	
	
	<bean id="expires" class="java.util.HashMap">
	</bean>
	
</beans>
